* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #000;
  color: #fff;
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width:800px) {
  body{
    overflow-y: scroll;
  }
}
